#banner-body {
    background-color: #212441;
    width: 1200px;
    margin: 100px auto; 
    border-radius: 30px;
    min-height: 60vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 100px auto 300px;
    z-index: -1;
}
.right{
    background-color: #1e536527;
    color: white;
}

.left{
    text-align: center;
    border-right: 1px solid #010101;
    color: white;
}
.left ul{
    padding:0;
    list-style: none;
}
.left ul li i{
    display: block;
    margin-bottom: 10px;
    color: white;
}
.left li{
    padding:20px 0;
    color: #fff;
}
.left li.active{
    color: #fff;
}
.center{
    padding:20px;
}
.bigTitle{
    font-size: xx-large;
    font-weight: bold;
    margin:20px 0;
    color: #fff;
}
.banner{
    position: relative;
}
.banner img{
    width:100%;
    border-radius: 30px;
    box-shadow: 0 20px 50px #010101;
}
.banner .content{
    position: absolute;
    top:50%;
    left:30px;
    color:#fff;
    transform: translate(0,-50%);
}

.buttons{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons #edit{
    background-color: darkblue;
    border-radius: 30px;
    font-weight: bold;
    color: white;
    padding: 15px;
    border: none;
    font-size: 27px;
    cursor: pointer;
}

.buttons #openDeleteModal{
    background-color: red;
    border-radius: 30px;
    font-weight: bold;
    color: white;
    border: none;
    padding: 15px;
    font-size: 27px;
    cursor: pointer;
}

.banner .title{
    color: #fff;
    font-size: xxx-large;
    font-weight: bold;
    text-shadow:  0 0 5px #000;
}
.category{
    list-style: none;
    padding:0;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.category li{
    text-align: center;
}
.category i{
    display: block;
    width:50px;
    height:50px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow:  0 10px 20px #c4beb7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto 5px;
}
.category li:nth-child(1) i{
    color:#98CEC0;
}
.category li:nth-child(2) i{
    color:#F8D17F;
}
.category li:nth-child(3) i{
    color:#F46D5C;
}
.category li:nth-child(4) i{
    color:#89CDDD;
}
.category li:nth-child(5) i{
    color:#7C4968;
}
.listFigure{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 30px;
}
.listFigure .item{
    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 20px;
}
.listFigure .item img{
    width:100%;
    height:225px;
    object-fit: contain;
    border-radius: 30px;
    box-shadow: 0 10px 20px #253b5e;
}
.listFigure .item .content{
    text-align: justify;
    padding-right: 30px;
}

.listFigure .item .content p{
    color: #fff;
    font-size: 20px;
}

.director{
    text-align: center;
    padding:50px 10px;
}
.director img{
    width:100px;
    height:100px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 10px 10px #253b5e;
}
.director .title{
    font-size: large;
    font-weight: bold;
    padding:10px;
}
.director ul{
    padding:30px;
    list-style: none;
    display: grid;
    grid-template-columns: auto auto;
}
.director .count{
    font-size: xx-large;
}
.director li:nth-child(1){
    border-right: 1px solid #b5b5b5;
}
.actor{
    padding:20px;
}
.actor ul{
    padding:0;
    list-style: none;
}
.actor li{
    display: grid;
    grid-template-columns: 50px auto;
    column-gap: 30px;
    margin-bottom: 25px;
}
.actor li img{
    width:70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    border:2px solid darkblue;
}
.actor .content .nameActor{
    font-weight: bold;
    font-size: large;
    margin-top:5px;
}
.actor .content .nameUser{
    opacity: 0.6;
    margin-top:5px;
}
@keyframes showtop{
    from{
        opacity: 0;
        transform: translate(0,50px);
    }to{
        opacity: 1;
        transform: translate(0,0);
    }
}
.animationTop {
    opacity: 0;
    animation:showtop 0.5s ease-in-out 1 forwards;
}
.delay-01{
    animation-delay: 0.1s!important;
}
.delay-02{
    animation-delay: 0.2s!important;
}
.delay-03{
    animation-delay: 0.3s!important;
}
.delay-04{
    animation-delay: 0.4s!important;
}
.delay-05{
    animation-delay: 0.5s!important;
}
.delay-06{
    animation-delay: 0.6s!important;
}
.delay-07{
    animation-delay: 0.7s!important;
}
.delay-08{
    animation-delay: 0.8s!important;
}
.delay-09{
    animation-delay: 0.9s!important;
}
.delay-1{
    animation-delay: 1s!important;
}
.delay-11{
    animation-delay: 1.1s!important;
}
.delay-12{
    animation-delay: 1.2s!important;
}
.delay-13{
    animation-delay: 1.3s!important;
}
.delay-14{
    animation-delay: 1.4s!important;
}
.delay-15{
    animation-delay: 1.5s!important;
}
.delay-16{
    animation-delay: 1.6s!important;
}
.delay-17{
    animation-delay: 1.7s!important;
}
.delay-18{
    animation-delay: 1.8s!important;
}
.delay-19{
    animation-delay: 1.9s!important;
}
.delay-2{
    animation-delay: 2s!important;
}
.delay-21{
    animation-delay: 2.1s!important;
}
.delay-22{
    animation-delay: 2.2s!important;
}
.delay-23{
    animation-delay: 2.3s!important;
}
.delay-24{
    animation-delay: 2.4s!important;
}


.modal-overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-box {
    background: white;
    padding: 20px;
    border-radius: 6px;
}

.modal-actions {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.cancel-btn, .confirm-btn {
  padding: 8px 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.cancel-btn {
  background: #ccc;
}

.confirm-btn {
  background: #e53935;
  color: #fff;
}

.confirm-btn:hover {
  background: #c62828;
}

.delete-btn {
  cursor: pointer;
  background: none;
  border: none;
  color: #ff4d4d;
  font-size: 18px;
  transition: color 0.2s;
  z-index: 10; 
  position: relative;
}

