/* Hero section */

*{
    font-family: monospace;
}

.hero {
    background: linear-gradient(135deg, #023859, #011c40);
    color: white;
    text-align: center;
    padding: 100px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content h2 {
    font-size: 2.2rem;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.cta-btn {
    background-color: white;
    color: #0077ff;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.cta-btn:hover {
    transform: scale(1.05);
    background-color: #f0f8ff;
}

/* Cards Section */
.cards-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    padding: 60px 40px;
    max-width: 1100px;
    margin: 0 auto;
}

.card {
    background-color: #26658c;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card h3 {
    color: white;
    font-size: 1.2rem;
}

.card p {
    color: white;
    font-size: 0.95rem;
    margin-bottom: 20px;
}

.card a {
    background-color: #0077ff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 1000;
    transition: background-color 0.3s ease;
}

.card a:hover {
    background-color: #005fcc;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
