* {
    font-family: 'monospace';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.preload * {
    transition: none !important;
}

body {
    --header-height: 65px;
    background-color: #1E1A1D;
    font-family: monospace;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    position: fixed;
    background: #333333;
    z-index: 1000;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding-left: 20px;
    margin-right: 30px;
}

nav ul li a {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background-color: #212441;
    border-radius: 50px;
    transition: 0.5s;
}

nav ul li a:hover {
    background-color: rgb(38, 158, 198);
}

.header__button {
    width: var(--header-height);
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.nav__links {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    height: 100vh;
    width: 250px;
    background: #ffffff;
    transform: translateX(-250px);
    transition: transform 0.3s;
}

.nav--open .nav__links {
    transform: translateX(0);
}

.nav__link {
    display: flex;
    align-items: center;
    color: #666;
    font-weight: bold;
    text-decoration: none;
    padding: 12px 15px;
}

.nav__link > i {
    margin-right: 10px;
}

.nav__link--active,
.nav__link:hover {
    background: #eeeeee;
}

.nav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1050; /* between header and nav__links */
}

.nav--open .nav__overlay {
    visibility: visible;
    opacity: 1;
}
