@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background-color: #1E1A1D;
}

/* Sidebar always visible */
.sidebar {
    position: fixed;
    left: 0;
    top:8%;
    width: 250px;
    height: 100%;
    background: #011c40;
    transition: all 0.5s ease;
}

/* Sidebar Buttons */
.sidebar ul button, .sidebar ul li a {
    display: block;
    width: 100%;
    height: 75px;
    line-height: 65px;
    font-size: 20px;
    color: white;
    background: none;
    border: none;
    text-align: left;
    padding-left: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255,255,255,0.1);
    cursor: pointer;
    transition: 0.4s;
}

.sidebar ul button i {
    margin-right: 16px;
}

/* Hover Effect */
.sidebar ul li:hover button, .sidebar ul li:hover a {
    padding-left: 50px;
}
