*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: #1E1A1D;
	font-family: 'Montserrat', sans-serif;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome{
    font-size: 40px;
    margin: 50px;
    color: white;
}

.heading{
    font-size: 20px;
    margin: 50px;
    color: white;
}

.small_input{
    margin:  1px 50px;
}


.login{
    margin-top: 100px;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    background-color: darkblue;
    border: none;
    border-radius: 20px;
    color: white;
}

.login:hover{
    cursor: pointer;
}