body {
    font-family: monospace;
    background-color: #1E1A1D;
    margin-top: 100px;
    padding: 50px;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
    color: white;
}

.open-btn {
  background-color: #4a90e2;
  color: white;
  border: none;
  text-decoration: none;
  padding: 14px 28px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.open-btn:hover {
  background-color: #357abd;
}


/* Three Cards */


.card-container {
  width: 100%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
  gap: 20px; /* space between them */
  padding: 0 20px; /* small padding from the screen edges */
  box-sizing: border-box;
}

.box {
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.box .img {
  position: relative;
  height: 100%;
}

.box .img img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* fill nicely */
  transform: scale(1);
  transition: transform 1s;
}

.box:hover .img img {
  transform: scale(1.2);
}

.box .content {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  box-sizing: border-box;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.box:hover .content {
  transform: scaleX(1);
}

.box .content h2 {
  margin: 0;
  margin-top: 10px;
  color: white;
  font-size: 1.8em;
  text-align: center;
}

.box .content p {
  font-size: 0.9em;
  color: white;
  font-weight: lighter;
  text-align: center;
}
